doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/3.19.0/adyen.js', integrity='sha384-taz+R7EBgv7Zhi89Jt8k00cAmOCtxDK586pbjJhl+owvWp7aipA2nawhG8VmPoVP', crossorigin='anonymous')
    link(rel='stylesheet', href='https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/3.19.0/adyen.css', integrity='sha384-i7r6Qx/VBv4AYkHxh2Ah3fZd/+4scf5x72ZX6X1rrsxoPrvyr9lGOwacyysZDLWJ', crossorigin='anonymous')
  body
    block content
